body {
  background-color: #00514a;
  margin: 0 0 0 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.title {
  text-align: center;
  color: rgb(241, 178, 136);
  font-size: 80px;
  font-size: calc(100% + 5vw);
  font-family: hikou system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  padding: 1vw;
}

/* Quadrate*/
.container {
  font-size: calc(100% + 2vw);
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.quadrat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  max-width: 750px;
  background: rgb(0, 0, 0);
  position: relative;
  aspect-ratio: 1 / 1;
}

.quadrat1 {
  background: #a19e7b;
  width: 85%;
  height: 85%;
  position: absolute;
  cursor: pointer;
}

.text_um_quadrat {
  position: absolute;
}
/* Main heading styling */
.main-heading {
  text-align: center;
  font-size: 50px;
}

/* profile Section  */
.prof-l-top {
  height: 60.2%;
  overflow: hidden;
}
.prof-l-top img {
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  object-position: bottom;
}
.prof-wraper {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}
.left-prof,
.right-prof {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.sub-heading h1 {
  text-align: center;
  font-size: 32px;
}
.hob-icones {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 15px;
  padding: 10px;
}
/* Skills Range  */
.skills-wrap {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.skill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 46px;
}
.range-wrap {
  width: 45%;
  height: 14px;
  position: relative;
  background-color: black;
}
.range1 {
  position: absolute;
  width: 80%;
  height: 14px;
  background-color: #169c46;
}
.range2 {
  position: absolute;
  width: 90%;
  height: 14px;
  background-color: #169c46;
}
.range3 {
  position: absolute;
  width: 30%;
  height: 14px;
  background-color: #169c46;
}
.range4 {
  position: absolute;
  width: 60%;
  height: 14px;
  background-color: #169c46;
}
.range5 {
  position: absolute;
  width: 50%;
  height: 14px;
  background-color: #169c46;
}
.range6 {
  position: absolute;
  width: 90%;
  height: 14px;
  background-color: #169c46;
}
/* Language Section  */
.lang-wrap {
  width: 45%;
  height: 14px;
  position: relative;
  background-color: black;
}
.lang {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 46px;
}
.lang1 {
  position: absolute;
  width: 100%;
  height: 14px;
  background-color: #169c46;
}
.lang2 {
  position: absolute;
  width: 95%;
  height: 14px;
  background-color: #169c46;
}
.lang3 {
  position: absolute;
  width: 85%;
  height: 14px;
  background-color: #169c46;
}
.lang4 {
  position: absolute;
  width: 100%;
  height: 14px;
  background-color: #169c46;
}

.prof-r-mid,
.prof-r-botom {
  display: flex;
  flex-direction: column;
}

/* Beschriftung um Quadrat*/
.profile {
  position: absolute;
  margin-top: -115%;
}
.cv {
  position: absolute;
  margin-left: -115%;
  transform: rotate(-90deg);
}
.contact {
  position: absolute;
  margin-right: -115%;
  transform: rotate(90deg);
}

.portfolio {
  position: absolute;
  margin-bottom: -115%;
}

/* unvisited link */
a:link {
  text-decoration: none;
  color: #000000;
}
/* visited link */
a:visited {
  text-decoration: none;
  color: #000000;
}
/* mouse over link */
a:hover {
  text-decoration: none;
  color: rgb(241, 178, 136);
  transition: all 0.15s linear;
}
a:hover img {
  text-decoration: none;
  background-color: rgb(241, 178, 136);
  transition: all 0.15s linear;
}
/* selected link */
a:active {
  text-decoration: none;
  color: #000000;
}

html {
  scroll-behavior: smooth;
}

main {
  position: relative;
}

/* Button for scroll up*/
#topButton {
  display: none;
  position: fixed;
  bottom: 4px;
  right: 59px;
  z-index: 22;
  border: none;
  outline: none;
  background-color: rgb(0, 0, 0);
  color: rgb(241, 178, 136);
  cursor: pointer;
  border-radius: 100%;
  font-size: 35px;
  width: 50px;
  height: 50px;
}
#topButton:hover {
  background-color: rgb(241, 178, 136);
  color: #000;
  transition: all 0.15s linear;
}

/* Navigationbar*/
#nav-mobile {
  position: fixed;
  z-index: 22;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  height: 64px;
  width: 64px;
  justify-content: center;
  right: 0em;
}

.mobile-nav-icon {
  z-index: 50;
  width: 64px;
  height: 45px;
}
#nav-mobile a {
  background: transparent;
  position: absolute;
  width: 0;
  overflow: hidden;
  padding-bottom: 5rem;
  display: flex;
  text-align: center;
  justify-content: center;
  transition: width 0.2s step-start;
  flex-direction: column;
  align-items: center;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 550px;
  margin: 0;
  padding: 10px;
}

section h1 {
  margin: 0 0 0 0;
  padding: 1em;
}

#home {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 130vh;
}

#profile {
  background-color: #50b89f;
}

#cv {
  background-color: #017865;
}

#portfolio {
  background-color: #00514a;
}

#contact {
  background-color: #50b89f;
  align-items: center;
  padding-bottom: 5rem;
}

:root {
  --color-gradient: linear-gradient(90deg, color rgb);
}

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url(./layer1.svg);
}

.layer2 {
  background-image: url(./layer2.svg);
}

.layer3 {
  background-image: url(./layer3.svg);
}

.spotify {
  width: 50%;
  position: absolute;
  bottom: 0em;
  margin-left: 50vh;
}

#kanye {
  color: aliceblue;
}

.main-heading {
  font-size: 34px;
  text-align: center;
}

#home {
  height: auto;
}

/* Contact form  */
.form-wraper {
  max-width: 700px;
  width: 100%;
}
.form-wraper form {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.form-wraper ::placeholder {
  margin-left: 5px;
  padding: 2px;
  color: #000;
}
.formsec1 {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}
.formsec1 input {
  width: 50%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.formsec2 input {
  width: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.formsec3 textarea {
  width: 100%;
  padding: 0;
  background-color: transparent;
  border-color: black;
  border-width: 2px;
  height: 300px;
}
.form-wraper input {
  height: 50px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border-color: black;
}
#message1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.formsec4 button {
  width: 50%;
  height: 50px;
  background-color: #3cab90;
}
.formsec4 button:hover {
  background-color: #2c6e5e;
}
