body {
  background-color: #00514a;
  margin: 0 0 0 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.title {
  text-align: center;
  color: rgb(241, 178, 136);
  font-size: 80px;
  font-size: calc(100% + 5vw);
  font-family: hikou system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  padding: 1vw;
}

/* Quadrate*/
.container {
  font-size: calc(100% + 2vw);
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.quadrat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  max-width: 750px;
  background: rgb(0, 0, 0);
  position: relative;
  aspect-ratio: 1 / 1;
}

.quadrat1 {
  background: #a19e7b;
  width: 85%;
  height: 85%;
  position: absolute;
  cursor: pointer;
}

.text_um_quadrat {
  position: absolute;
}

/* Beschriftung um Quadrat*/
.profile {
  position: absolute;
  margin-top: -115%;
}
.cv {
  position: absolute;
  margin-left: -115%;
  transform: rotate(-90deg);
}
.contact {
  position: absolute;
  margin-right: -115%;
  transform: rotate(90deg);
}
.portfolio {
  position: absolute;
  margin-bottom: -115%;
}

/* unvisited link */
a:link {
  text-decoration: none;
  color: #000000;
}
/* visited link */
a:visited {
  text-decoration: none;
  color: #000000;
}
/* mouse over link */
a:hover {
  text-decoration: none;
  color: rgb(241, 178, 136);
  transition: all 0.15s linear;
}
/* selected link */
a:active {
  text-decoration: none;
  color: #000000;
}

html {
  scroll-behavior: smooth;
}

main {
  position: relative;
}

/* Button for scroll up*/
#topButton {
  display: none;
  position: fixed;
  bottom: 70px;
  right: 10px;
  z-index: 22;
  border: none;
  outline: none;
  background-color: rgb(0, 0, 0);
  color: rgb(241, 178, 136);
  cursor: pointer;
  border-radius: 100%;
  font-size: 35px;
  width: 50px;
  height: 50px;
}
#topButton:hover {
  background-color: rgb(241, 178, 136);
  color: #000;
  transition: all 0.15s linear;
}

/* Navigationbar*/
#nav-mobile {
  position: fixed;
  z-index: 22;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  height: 64px;
  width: 64px;
  justify-content: center;
  right: 0em;
}

.mobile-nav-icon {
  z-index: 50;
  width: 64px;
  height: 45px;
}
#nav-mobile a {
  background: #a19e7b;
  position: absolute;
  width: 0;
  overflow: hidden;
  padding-bottom: 5rem;
  display: flex;
  text-align: center;
  justify-content: center;
  transition: width 0.2s step-start;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 550px;
  margin: 0;
  padding: 10px;
}

section h1 {
  margin: 0 0 0 0;
  padding: 1em;
}

#home {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 130vh;
}

#profile {
  background-color: #50b89f;
}

#cv {
  background-color: #017865;
}

#portfolio {
  background-color: #00514a;
}

#contact {
  background-color: #50b89f;
}

:root {
  --color-gradient: linear-gradient(90deg, color rgb);
}

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url(./layer1.svg);
}

.layer2 {
  background-image: url(./layer2.svg);
}

.layer3 {
  background-image: url(./layer3.svg);
}

.spotify {
  width: 50%;
  position: absolute;
  bottom: 0em;
  margin-left: 50vh;
}

#kanye {
  color: aliceblue;
}
